@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //Fonts
  --ff-open-sans: 'Open Sans', sans-serif;

  //Colors
  --clr-mate-black: #28282b;
  --clr-white: #fff;

  //Transition
  --transition-default: 0.1s all linear;
}

body {
  font-family: var(--ff-open-sans);
  color: var(--clr-mate-black);
}
