@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //Fonts
  --ff-primary: 'Poppins', sans-serif;

  //Colors
  --clr-mate-black: #28282b;
  --clr-white: #fff;
  --clr-black: #04091e;
  --clr-red: #f13030;
  --clr-orange: #be8d04;
  --clr-light-orange: #d19a01;
  --clr-light-black: #222222;
  --clr-gray: #777777;
  --clr-light-gray: #ced4da;

  //Transition
  --transition-default: 0.1s all linear;
  --transition-ease: 0.4s all ease;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-mate-black);
  position: relative;
}

.none {
  display: none;
}
