.contact {
  margin-top: 5rem;
  max-width: 75%;
  margin-inline: auto;

  .contact-box {
    margin-top: 4rem;
    display: flex;
    gap: 6vw;
  }
}

@media screen and (max-width: 970px) {
  .contact {
    .contact-box {
      flex-direction: column;
    }
  }
}
