.info-menu {
  background-color: var(--clr-mate-black);
  padding: 8px 0;

  .info-menu-inner-wrapper {
    width: 75%;
    margin-inline: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .social-icons {
      display: flex;
      gap: 25px;
    }

    a {
      color: var(--clr-white);
      text-decoration: none;
      font-size: 14px;
    }

    .personal-info {
      display: flex;
      gap: 25px;

      a {
        cursor: pointer;

        &:after {
          display: block;
          content: '';
          border-bottom: 1px solid var(--clr-mate-black);
          transition: var(--transition-default);
        }

        &:hover:after {
          border-bottom: 1px solid var(--clr-white);
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .info-menu {
    .info-menu-inner-wrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: 760px) {
  .info-menu {
    .info-menu-inner-wrapper {
      width: 98%;
    }
  }
}

@media screen and (max-width: 680px) {
  .info-menu {
    .info-menu-inner-wrapper {
      width: 95%;
      .personal-info {
        a:last-child {
          display: none;
        }
      }
    }
  }
}
