.sidebar {
  background-color: var(--clr-black);
  min-height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding-top: 40px;
  transition: var(--transition-default);
  transform: translate(-100%);

  a {
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
    color: var(--clr-white);
    font-weight: 600;
    transition: var(--transition-default);
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: var(--clr-white);
      color: var(--clr-black);
    }
  }
}

.show-sidebar {
  transform: translate(0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.close-button {
  font-size: 30px;
  color: var(--clr-red);
  position: absolute;
  bottom: 38px;
  right: 16px;
  z-index: 99;
  cursor: pointer;
}

@media screen and (min-width: 681px) {
  .sidebar,
  .close-button,
  .overlay {
    display: none;
  }
}
